{% extends 'layout-experiments.html.twig' %}
{% block head %}
<script type="text/javascript">
    var configs = {{experimentConfigs|json_encode|raw}};
</script>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div id="gallery">
        <ul class="nav nav-tabs" role="tablist">
            {% for category in experimentConfigs.category %}
                <li role="presentation"><a href="#{{category.id|raw}}" aria-controls="{{category.id|raw}}" role="tab" data-toggle="tab">{{category.name|raw}}</a></li>
            {% endfor %}
        </ul>
         <!-- Tab panes -->
          <div class="tab-content">
            {% for category in experimentConfigs.category %}
                <div role="tabpanel" class="tab-pane fade" id="{{category.id}}">
                    {% for content in experimentConfigs.gallery %}
                        {% if content.category_id==category.id %}
                            <img src="{{content.thumbnail}}" />
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
          </div>
    </div>
    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="/js/views/experiments/gallery001.js"></script>
{% endblock %}
