{% extends 'layout.html.twig' %}
{% block head %}
{% endblock %}
{% block body %}
    {{ parent() }}
    <h1>{{productConfigs.title}}</h1>
    <blockquote>{{productConfigs.description}}</blockquote>
    <hr />
    {% for bundle in productConfigs.bundles %}
        <div class="panel panel-default">
          <div class="panel-heading"><h1>{{bundle.name}}</div>
          <div class="panel-body">
            <ul>
                {% for key,value in bundle.properties %}
                    <li><strong>{{key}}:</strong> {{value}}</li>
                {% endfor %}
            </ul>
          </div>
        </div>
        {% for track in bundle.tracks %}
            <div class="track">
                <img src="https://images.theorchard.com{{track.upc|image_path_from_upc}}" />
                <trackname>{{track.track_name}}</trackname><br />
                <releasename>{{track.release_name}}</releasename><br />
                <upc><a href="http://oa.theorchard.com/cont_mgmt/view_release.php?upc={{track.upc}}&searchList=release" target="_blank">{{track.upc}}</a></upc><br />
                <audio controls>
                   <source src="{{track.stream_url}}" type="audio/mpeg">
                </audio>
                <table class="table">
                  <tr>
                    <th>Theme</th>
                    <th>Mood</th>
                    <th>BPM</th>
                    <th>Danceability</th>
                  </tr>
                  <tr>
                    <td>{{track.theme}}</td>
                    <td>{{track.mood}}</td>
                    <td>{{track.bpm}}</td>
                    <td>{{track.danceability}}%</td>
                  </tr>
                </table>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
