<p>Welcome to StoryStation, <strong>{{ user.username }}</strong>!</p>
<br />

<p>
Click here to activate your account and get started:<br />
<a href="https://{{server.SERVER_NAME}}/activate?token={{ user.verify_token_activation }}">https://{{server.SERVER_NAME}}/activate?token={{ user.verify_token_activation }}</a>
</p>

<p>You will be asked to choose a password</p>
