{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
    <script type="text/javascript">
      var portfolioData = {{configs.portfolio|json_encode|raw}};
      var instagramData = {{instagramData|json_encode|raw}};
    </script>
{% endblock %}
{% block body %}
	{{ parent() }}
  <div class="content-block">
    <h1>R.Satsangi #cartoons #technology</h1>
    <p>Outta my way kid, ya bother me. I got cartoons to make.</p>
  </div>
  <div class="content-block">
    <h1>Portfolio</h1>
    <div id="portfolio-gallery">
      <ul class="menu">
        {% for category in configs.portfolio.category %}
          <li><a class="section-selector" data-section="{{category.id|raw}}">{{category.name|raw}}</a></li>
        {% endfor %}
      </ul>
      {% for category in configs.portfolio.category %}
        <div data-section="{{category.id}}" class="section">
            {% if category.id == "instagram" %}
              {% for content in instagramData %}
                <img src="{{content.images.thumbnail.url}}" class="thumbnail" data-type="instagram" data-id="{{content.id}}"/>
              {% endfor %}
            {% else %}
              {% for content in configs.portfolio.gallery %}
                  {% if content.category_id==category.id %}
                    <img src="{{content.thumbnail}}" class="thumbnail" data-type="portfolio" data-id="{{content.id}}"/>
                  {% endif %}
              {% endfor %}
            {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="content-block">
    <h1>About</h1>
  </div>
  <div class="content-block">
    <h1>Info</h1>
  </div>

  <!-- overlay -->
  <div id="overlay">
    <div class="contents"></div>
  </div>
  <!-- templates -->
  <script type="text/template" id="portfolio-gallery-template">
    <% if (type=="image") { %>
      <img src="<%-content%>" />
    <% } else if (type=="embed") { %>
      <%=content%>
    <% } %>
    <h2><%-title%></h2>
    <blockquote><%=description%></blockquote>
    <p><%-medium%> (<%-year%>)</p>
  </script>
  <script type="text/template" id="instagram-gallery-template">
    <img src="<%-images.standard_resolution.url%>" />
    <blockquote><%=caption.text%></blockquote>
    <p><%-date%> | <%-likes.count%> likes</p>
    <p><a href="<%-link%>">view on instagram</a></p>
    <%-date%>
  </script>
  <!-- js includes -->
  <script type="text/javascript" src="js/pages/index.js"></script>
{% endblock %}