{% extends 'layout-projects.html.twig' %}
{% block head %}
<script type="text/javascript">
  var configs = {{configs|json_encode|raw}}
  var projectConfigs = {{projectConfigs|json_encode|raw}}
</script>
{% endblock %}
{% block body %}
    {{ parent() }}
    <h1>{{projectConfigs.name}}</h1>
    <description>{{projectConfigs.description|markdown}}</description>

    <section>
      <h1>Characters</h1>
      <description>{{projectConfigs.characters.description|markdown}}</description>
      {% for character in projectConfigs.characters.list %}
        {% include "pages/projects/partials/character_card.html.twig" %}
      {% endfor %}
    </section>

    <section>
      <h1>Locations</h1>
      <description>{{projectConfigs.locations.description|markdown}}</description>
      {% for location in projectConfigs.locations.list %}
        <card class="{% if location.status!="" %}{{location.status}}{% else %}ok{% endif %}">
          <name>{{location.name}}</name>
          {% if location.status!="" %}<span class="label label-success">{{location.status}}</span>{% endif %}
          <br />
          <type>{{location.type}}</type>
          <description>{{location.description|markdown}}</description>
        </card>
      {% endfor %}
    </section>

    {% if projectConfigs.concept_art %}
      <section>
        <h1>Concept Art</h1>
        <description>{{projectConfigs.concept_art.description|markdown}}</description>
        {% for art in projectConfigs.concept_art.list %}
          {% include "pages/projects/partials/concept_art_card.html.twig" %}
        {% endfor %}
      </section>
    {% endif %}

    {% if projectConfigs.plots %}
      <section>
        <h1>Plots</h1>
        <description>{{projectConfigs.plots.description|markdown}}</description>
        {% for plot in projectConfigs.plots.list %}
          <card class="{% if plot.status!="" %}{{plot.status}}{% else %}ok{% endif %}">
            <header>
              <name>{{plot.name}}</name>
              {% if plot.status!="" %}<span class="label label-success">{{plot.status}}</span>{% endif %}
            </header>
            <type>{{plot.type}}</type>
            <description>{{plot.description|markdown}}</description>
          </card>
        {% endfor %}
      </section>
    {% endif %}

    <section>
      <h1>Inspirations</h1>
      <description>{{projectConfigs.inspirations.description|markdown}}</description>
      {% for inspiration in projectConfigs.inspirations.list %}
        <card>
          <name>{{inspiration.name}}</name><br />
          <type>{{inspiration.type}}</type>
          <description>{{inspiration.description|markdown}}</description>
        </card>
      {% endfor %}
    </section>

{% endblock %}
{% block includes %}
  <script type="text/javascript" src="/js/pages/projects/index.js"></script>
{% endblock %}
