{% extends 'layout-projects.html.twig' %}
{% block head %}
<script type="text/javascript">
  var configs = {{configs|json_encode|raw}}
  var projectConfigs = {{projectConfigs|json_encode|raw}}
</script>
{% endblock %}
{% block body %}
    {{ parent() }}
    <h1>{{projectConfigs.name}}</h1>
    <description>{{projectConfigs.description}}</description>

    <section>

      <h1>Characters</h1>
      <description>{{projectConfigs.characters.description}}</description>
      {% for character in projectConfigs.characters.list %}
        {% include "pages/projects/partials/character_card.html.twig" %}
      {% endfor %}
    </section>

    <section>
      <h1>Locations</h1>
      <description>{{projectConfigs.locations.description}}</description>
      {% for location in projectConfigs.locations.list %}
        <card>
          <name>{{location.name}}</name><br />
          <type>{{location.type}}</type>
          <description>{{location.description}}</description>
        </card>
      {% endfor %}
    </section>

    <section>
      <h1>Inspirations</h1>
      <description>{{projectConfigs.inspirations.description}}</description>
      {% for inspiration in projectConfigs.inspirations.list %}
        <card>
          <name>{{inspiration.name}}</name><br />
          <type>{{inspiration.type}}</type>
          <description>{{inspiration.description}}</description>
        </card>
      {% endfor %}
    </section>

{% endblock %}
{% block includes %}
  <script type="text/javascript" src="/js/pages/projects/index.js"></script>
{% endblock %}
