{% extends 'layout-projects.html.twig' %}
{% block head %}
<script type="text/javascript">
    var configs = {{configs|json_encode|raw}}
    var project = {{project|json_encode|raw}}
</script>
{% endblock %}
{% block body %}
    {{ parent() }}

    <div class="row container-fluid">
      <div class="col-lg-12">
        <h4 class="display-4 section-title">{{project.name}}</h4>
        <blockquote>{{project.description|markdown}}</blockquote>
      </div>
    </div>


    <div class="row container-fluid">
        <h1>Storyboards</h1>
        {% for storyboard in project.storyboards %}
        <div class="row">
            <h3>{{storyboard.name}}</h3>
            <blockquote>{{storyboard.description}}</blockquote>
            <div class="row">
            {% for panel in storyboard.panels %}
                {% include "pages/projects/partials/storyboard_panel_card.html.twig" %}
            {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>


    <div class="row container-fluid">
        <h1>Characters</h1>
        <div class="row">
            {% for character in project.characters %}
              {% include "pages/projects/partials/character_card.html.twig" %}
            {% endfor %}
        </div>
    </div>


    <div class="row container-fluid">
        <h1>Locations</h1>
        <div class="row">
          {% for location in project.locations %}
            {% include "pages/projects/partials/location_card.html.twig" %}
          {% endfor %}
        </div>
    </div>


    <div class="row container-fluid">
        <h1>Reference Images</h1>
        <div class="row">
          {% for image in project.reference_images %}
            {% include "pages/projects/partials/reference_image_card.html.twig" %}
          {% endfor %}
        </div>
    </div>


    <div class="row container-fluid">
        <h1>Concept Art</h1>
        <div class="row">
          {% for art in project.concept_art %}
            {% include "pages/projects/partials/concept_art_card.html.twig" %}
          {% endfor %}
        </div>
    </div>


    <overlay>
        <content></content>
    </overlay>

{% endblock %}

{% block includes %}
    <script type="text/javascript" src="/js/pages/projects/index.js"></script>
{% endblock %}
