{% extends 'layout-projects.html.twig' %}
{% block head %}
<script type="text/javascript">
    var configs = {{projectConfigs|json_encode|raw}};
</script>
<style>
  body {
    background-color: #1C1C1C;
    color:#777;
  }
</style>
{% endblock %}
{% block body %}
    {{ parent() }}
    <h1>{{projectConfigs.name}}</h1>
    <blockquote>{{projectConfigs.description}}</blockquote>
    <h2>Characters</h2>
    {% for character in projectConfigs.characters %}
      <h3>{{character.name}}</h3>
      <blockquote>{{character.description}}</blockquote>
    {% endfor %}
    <h2>Inspirations</h2>
    <h2>Themes</h2>
    <!-- JAVASCRIPT -->
    <!-- <script type="text/javascript" src="/js/views/experiments/instagram001.js"></script> -->
{% endblock %}
