<card id="{{character.id}}">
  <name>{{character.name}}</name><br />
  {% if character.images|length %}
    {% for image in character.images %}
      {% if loop.index==1 %}
        <preview><img src="{{image.thumbnail}}" class="{{image.orientation}}"/></preview>
      {% endif %}
    {% endfor %}
    {% if character.images|length > 1 %}
    <div class="thumbnails">
      {% for image in character.images %}
          <thumbnail class="{%if loop.index==1%}active{%endif%}"><img src="{{image.thumbnail}}" class="{{image.orientation}}"/></thumbnail>
      {% endfor %}
    </div>
    {% endif %}
  {% else %}
  <preview><img src="http://41.media.tumblr.com/3e3f75b2c41b12d7ad6cefc3d3efeaa2/tumblr_nvyeqnbVFO1qe0wclo1_500.jpg" class="landscape"/></preview>
  {% endif %}
  <occupation>{{character.occupation}}</occupation>
  <description>{{character.description}}</description>
</card>
