<card id="{{character.id}}" class="{% if character.status!="" %}{{character.status}}{% else %}ok{% endif %}">
  <header>
    <name>{{character.name}}</name>
    <small>({{character.role}})</small>
    {% if character.status!="" %}<span class="label label-success">{{character.status}}</span>{% endif %}
  </header>
  {% if character.images|length %}
    {% for image in character.images %}
      {% if loop.index==1 %}
        <preview><img src="{{image.thumbnail}}" class="{{image.orientation}}"/></preview>
      {% endif %}
    {% endfor %}
    {% if character.images|length > 1 %}
    <div class="thumbnails">
      {% for image in character.images %}
          <thumbnail class="{%if loop.index==1%}active{%endif%}"><img src="{{image.thumbnail}}" class="{{image.orientation}}" data-image-index="{{loop.index0}}"/></thumbnail>
      {% endfor %}
    </div>
    {% endif %}
  {% else %}
  <preview><img src="https://c2.staticflickr.com/6/5007/5281085898_65f815ac08.jpg" class="landscape"/></preview>
  {% endif %}
  <occupation>{{character.occupation}}</occupation>
  <description>{{character.description|markdown}}</description>
</card>
