<card id="{{character.id}}">
  <name>{{character.name}}</name><br />
  {% if character.images|length %}
    {% for image in character.images %}
      {% if loop.index==1 %}
        <preview><img src="{{image.thumbnail}}" class="{{image.orientation}}"/></preview>
      {% endif %}
    {% endfor %}
    {% if character.images|length > 1 %}
    <div class="thumbnails">
      {% for image in character.images %}
          <thumbnail class="{%if loop.index==1%}active{%endif%}"><img src="{{image.thumbnail}}" class="{{image.orientation}}" data-image-index="{{loop.index0}}"/></thumbnail>
      {% endfor %}
    </div>
    {% endif %}
  {% else %}
  <preview><img src="https://c2.staticflickr.com/6/5007/5281085898_65f815ac08.jpg" class="landscape"/></preview>
  {% endif %}
  <small>{{character.role}}</small><br />
  <occupation>{{character.occupation}}</occupation>
  <description>{{character.description}}</description>
</card>
