<div id="{{art.id}}" class=" card col-xl-3">
    <div class="card-block">
        <h3 class="card-title">{{art.name}}</h3>
        {% if art.revisions|length %}
            {% for image in art.revisions %}
                {% if loop.index==1 %}
                    <img src="{{image.content}}" class="display {{image.orientation}} hvr-bounce-in" data-image-index="0"/>
                {% endif %}
            {% endfor %}
            {% if art.revisions|length > 1 %}
            <div class="row thumbnails">
                {% for image in art.revisions %}
                <div class="thumbnail {%if loop.index==1%}active{%endif%}">
                    <img src="{{image.content}}" class="{{image.orientation}} hvr-bounce-in" data-image-index="{{loop.index0}}"/>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        {% else %}
            <img src="https://c2.staticflickr.com/6/5007/5281085898_65f815ac08.jpg" class="landscape"/>
        {% endif %}
        <description>{{art.description|markdown}}</description>
    </div>
</div>

{% if loop.index is divisible by(4) %}
<div class="row"></div>
{% endif %}
