<div id="{{art.id}}" class=" card col-xl-3 {% if art.status!="" %}{{art.status}}{% else %}ok{% endif %}">
    <div class="card-block">
      <h3 class="card-title">{{art.name}}</h3>
      {% if art.status!="" %}<span class="label label-success">{{art.status}}</span>{% endif %}
    {% if art.images|length %}
      {% for image in art.images %}
        {% if loop.index==1 %}
          <preview class="overlay-trigger"><img src="{{image.thumbnail}}" class="{{image.orientation}} hvr-bounce-in" data-image-index="0"/></preview>
        {% endif %}
      {% endfor %}
      {% if art.images|length > 1 %}
      <div class="thumbnails">
        {% for image in art.images %}
            <thumbnail class="{%if loop.index==1%}active{%endif%}"><img src="{{image.thumbnail}}" class="{{image.orientation}} hvr-bounce-in" data-image-index="{{loop.index0}}"/></thumbnail>
        {% endfor %}
      </div>
      {% endif %}
    {% else %}
    <preview><img src="https://c2.staticflickr.com/6/5007/5281085898_65f815ac08.jpg" class="landscape"/></preview>
    {% endif %}
    <description>{{art.description|markdown}}</description>
  </div>
</div>

{% if loop.index is divisible by(4) %}
</div>
<div class="row">
{% endif %}
