<card id="{{art.id}}" class="{% if art.status!="" %}{{art.status}}{% else %}ok{% endif %}">
  <header>
    <name>{{art.name}}</name>
    {% if art.status!="" %}<span class="label label-success">{{art.status}}</span>{% endif %}
  </header>
  {% if art.images|length %}
    {% for image in art.images %}
      {% if loop.index==1 %}
        <preview class="overlay-trigger"><img src="{{image.thumbnail}}" class="{{image.orientation}} hvr-bounce-in" data-image-index="0"/></preview>
      {% endif %}
    {% endfor %}
    {% if art.images|length > 1 %}
    <div class="thumbnails">
      {% for image in art.images %}
          <thumbnail class="{%if loop.index==1%}active{%endif%}"><img src="{{image.thumbnail}}" class="{{image.orientation}} hvr-bounce-in" data-image-index="{{loop.index0}}"/></thumbnail>
      {% endfor %}
    </div>
    {% endif %}
  {% else %}
  <preview><img src="https://c2.staticflickr.com/6/5007/5281085898_65f815ac08.jpg" class="landscape"/></preview>
  {% endif %}
  <description>{{art.description|markdown}}</description>
</card>
