<div id="{{panel.id}}" class="card col-lg-6">
    <div class="card-block">
    {% if panel.revisions|length > 0 %}
        {% for revision in panel.revisions %}
            {% if loop.index==1 %}
                <div class="card-img">
                    <img src="{{revision.content}}" class="display {{revision.orientation}} hvr-bounce-in" data-image-index="0"/>
                </div>
            {% endif %}
        {% endfor %}
        {% if panel.revisions|length > 1 %}
            <div class="row thumbnails">
            {% for revision in panel.revisions %}
                <div class="col-xs-3">
                    <div class="thumbnail {%if loop.index==1%}active{%endif%}">
                        <img src="{{revision.content}}" class="{{revision.orientation}} hvr-bounce-in" data-image-index="{{loop.index0}}"/>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}

        <div class="row comments">
        {% for comment in panel.comments %}
            <div class="col-xs-12 comment-container comment-status-{{comment.status}}">
                <div class="comment col-xs-12">{{comment.comment|markdown}}</div>
                <div class="comment-annotation col-xs-12 pull-right">
                    <span class="user-login">{{comment.user.username}}</span>
                    <span class="timestamp">{{comment.date_added}}</span>
                </div>
            </div>
        {% endfor %}
        </div>

    {% else %}
        <div class="card-img">
            <img src="https://c2.staticflickr.com/6/5007/5281085898_65f815ac08.jpg" class="landscape"/>
        </div>
    {% endif %}
    {% set parsedFountain = panel.script|fountain %}
    <div class="col-xs-12 fountain">{{parsedFountain.html.script|raw}}</div>
    <span class="pull-right label label-default page-number">{{loop.index0}}</span>
    </div>
</div>

{% if loop.index is divisible by(2) %}
<div class="row"></div>
{% endif %}
